<!doctype html><html xmlns:th="http://www.thymeleaf.org"><body>
<h3>Edit Product</h3>
<form method="post" th:action="@{/admin/products/save}">
  <input name="sku" th:value="${p.sku}" placeholder="sku"/>
  <input name="name" th:value="${p.name}" placeholder="name"/>
  <input name="price" th:value="${p.price}" placeholder="price"/>
  <input name="currency" th:value="${p.currency}" placeholder="currency"/>
  <label>active
    <input type="checkbox" name="active" th:checked="${p.active}" value="true"/>
  </label>
  <button>Save</button>
</form>
<form method="post" th:if="${p.sku != null}" th:action="@{'/admin/products/'+${p.sku}+'/delete'}"><button>Delete</button></form>
</body></html>
